* {
  box-sizing:border-box;
}

body {
  margin: 0;
}

div.container {
  margin: auto;
  width: 50%;
  background-color: #fefefe;
}

div.container > h1 {
  font-family: "Brandon Grotesque", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: rgb(255, 94, 0);
}

div.container > div.register-container {
  margin: auto;
  width: 40%;
}

div.register-container > form > fieldset {
  border: 0;
}
