body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

h1 {
  text-align: center;
}

p {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin: auto;
}

.item {
  flex-basis: 18%;
}

.item-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.r-dress {
  background-image: url("images/dress2.jpeg");
}

.fp-dress {
  background-image: url("images/dress1.jpeg");
}

.ysl-bag {
  background-image: url("images/ysl-bag.jpeg");
}

.lv-bag {
  background-image: url("images/lv-bag.jpg");
}

.t-key {
  background-image: url("images/key.jpeg");
}

.brand {
  padding-right: 5px;
}

.size {
  padding-left: 5px;
  border-left: 1px solid lightgray;
  color: lightgray;
}

.price {
  background-color: #fff1e6;
  padding: 0 2px;
  border-radius: 5px;
}

.retail {
  color: lightgray;
  margin-left: 5px;
}
