body {
  margin: 0;
}

h1 {
  display: none;
  position: absolute;
}

.container {
  background-color: rgb(248 233 215);
  height: 100vh;
  display: flex;
}

.circle {
  margin: auto;
  height: 200px;
  width: 200px;
  background-color: rgb(252 252 103);
  border-radius: 50%;
  border: 2px solid rgba(255 255 77 / 50%);
  box-shadow: 0 0 30px 20px rgba(255 255 77 / 75%);
}

.circle.off {
  background-color: rgb(56 56 56);
  box-shadow: 0 -8px 0 8px rgb(0 0 0);
  border: none;
}
