.container {
  margin: auto;
  font-family: Karla, sans-serif;
  color: #222;
  max-width: 880px;
}

h1.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3.text-uppercase {
  text-transform: uppercase;
}

.title {
  font-size: 3.25rem;
  margin: 1rem;
}

p {
  margin: 0;
  line-height: 27px;
}

h3 {
  margin-top: 3rem;
}

.row {
  display: flex;
  text-align: center;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
  display: flex;
  text-align: initial;
  margin-top: 2rem;
}

.description-container {
  width: 80%;
  margin: auto;
}

.text-container > p {
  padding-right: 2.5rem;
}
