.container {
  margin: auto;
  font-family: Avenir, sans-serif;
  width: 69%;
}

.row {
  width: 100%;
  display: flex;
}

/* Navigation */
.nav-row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  width: 40%;
}

.col-full {
  width: 100%;
}

.col-half {
  width: 50%;
}

.nav-link {
  text-decoration: none;
  color: #a0a0a0;
}

/* TEMPLATE FOR ALL BUTTONS */
.nav-button {
  color: #fefefe;
  background-color: #294464;
  padding: 0.7rem 1.125rem;
  border-radius: 5px;
}

hr {
  height: 1px;
  background-color: #e7e9ec;
  border: none;
}

/* home page info */
.info-img {
  background-image: url("images/hero.jpg");
  background-size: cover;
  height: 300px;
  position: relative;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 30%));
  height: 100%;
}

.info-header {
  color: #fefefe;
  font-family: "Tiempos Headline", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 5rem;
  left: 3rem;
}

.info-paragraph {
  color: #fefefe;
}

/* re-usable margin and padding */
.pad-lr-6rem {
  padding: 0 6rem;
}

.pad-l-6rem {
  padding-left: 6rem;
}

.pad-r-6rem {
  padding-right: 6rem;
}

.marg-t-1rem {
  margin-top: 1.5rem;
}

.marg-t-3rem {
  margin-top: 3rem;
}

.marg-b-1rem {
  margin-bottom: 1.25rem;
}
