* {
  box-sizing: border-box;
}

div {
  margin: auto;
  width: 50%;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
}
